.q-linear-progress {
  height: 1.5em;
  background: #354e8d;
}
input::placeholder {
  opacity: 0.5;
}

.empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 60vh;
  justify-content: center;
  gap: 1rem;
}

.empty img {
  width: 106px;
  height: 106px;
}

.empty_text {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 15px;
  text-align: center;
  color: #9a9a9a;
}

.main_text {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

$color: #80868b;
$active-color: #1a73e8;
$error-color: #f44336;
$input-value-color: #202124;
$border-color: 1px solid #dadce0;

$border-color-active: 2px solid $active-color;
$default-background: #fff;

/* Buttons */
$btn-default-bg-color: #fff;
$btn-default-bgh-color: #ddd;
$btn-default-text-color: #333;

$btn-primary-bg-color: #1a73e8;
$btn-primary-bgh-color: #287ae6;
$btn-primary-boxshadow-color: 0 1px 1px 0 rgba(66, 133, 244, 0.45),
  0 1px 3px 1px rgba(66, 133, 244, 0.3);
$btn-primary-text-color: #fff;
.login {
  background: aliceblue;
  // height: 100vh;
  padding: 2rem 2rem 5rem;
}

@media (min-width: 1100px) {
  .login {
    height: 100vh;
  }
}
.login_hold {
  background: #ffffff;
  box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  max-width: 1000px;
  width: 909px;
  max-height: 631px;
  overflow: hidden;
  margin: 0 auto;
}

.img img {
  width: 100px;
}

.checks {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  margin: 1rem 0 1rem;
}

.checks .check {
  background: #ffffff;
  border: 1.5px solid #000000;
  border-radius: 6px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  padding: 0.4rem;
  line-height: 100%;
  letter-spacing: -0.01em;
  color: #000000;
}

.side_img {
  // max-width: 298px;
  max-height: 261px;
  margin-top: 1rem;
  object-fit: contain;
}

.checks .notactive {
  background: #ffffff;
  border: 1px solid #b0b0b0;
  border-radius: 6px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  padding: 0.4rem;
  line-height: 100%;
  letter-spacing: -0.01em;
  color: #000000;
}

.sign .head {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: -0.01em;
  color: #000000;
}

.sign .sub {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 100%;
  letter-spacing: -0.01em;
  color: #000000;
}

.login_wrapper {
  display: flex;
  // gap: 1rem;
  width: 909px;
  padding: 1rem;
  height: 100%;
}
input,
select {
  background: $default-background;
}

select {
  position: relative;
}

input:focus,
select:focus {
  outline: none;
}

.goggle_auth {
  margin-top: 1rem;
}

.goggle_auth .q-btn::before {
  box-shadow: none;
}

.goggle_auth img {
  width: 50%;
}

.left_wrap {
  background: linear-gradient(180deg, #002b60 0%, #357196 100%);
  border-radius: 7px;
  width: 376px;
  height: 100%;
  padding: 1rem 1.5rem;
}

.middle {
  padding-top: 6rem;
}

.main {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 100%;
  color: #ffffff;
  margin-bottom: 0.7rem;
}
.main span {
  white-space: nowrap;
}
.desc {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 129.5%;
  letter-spacing: -0.01em;
  color: #ffffff;
}

.foot {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  color: #ffffff;
}

.login_hold .right {
  padding: 2rem 2.25rem 1rem 3rem;
}

.input-box select {
  // position: absolute;
  border: none;
  // margin-left: 0.5rem;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: -0.01em;
  color: #000000;
  position: relative;
}
.input-box select.reg {
  // all: unset;
  position: unset;
  margin: 0;
}

.phone input {
  padding-left: 4.4rem !important;
}

.wraps {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 1rem;
}
#form {
  margin: 0 auto;
}
.input-box.active-grey {
  .input-1,
  select.reg {
    border: 1.5px solid #9d9d9d;
  }
  select.reg {
    width: 100%;
  }
  .input-label {
    color: $color;
    top: -8px;
    background: $default-background;
    font-size: 11px;
    z-index: 2;
    left: 1%;
    transition: 250ms;
  }
}

.wraps .input-box {
  margin: 0;
}
.input-box {
  position: relative;
  margin: 25px 0;
  .input-label {
    position: absolute;
    color: $color;
    font-size: 16px;
    font-weight: 400;
    max-width: calc(100% - (2 * 8px));
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    left: 8px;
    top: 13px;
    padding: 0 8px;
    transition: 250ms;
    user-select: none;
    pointer-events: none;
  }
  .input-1,
  select.reg {
    box-sizing: border-box;
    height: 50px;
    width: 100%;
    border-radius: 4px;
    color: $input-value-color;
    border: $border-color;
    padding: 13px 15px;

    transition: 250ms;
    &:focus {
      outline: none;
      border: 2px solid #1a73e8;
      transition: 250ms;
    }
  }
}
.input-box.error {
  .input-label {
    color: $error-color;
    top: -8px;
    background: $default-background;
    font-size: 11px;
    transition: 250ms;
  }
  .input-1 {
    border: 2px solid $error-color;
  }
}
.input-box.focus,
.input-box.active {
  .input-label {
    color: $active-color;
    top: -8px;
    background: $default-background;
    font-size: 11px;
    transition: 250ms;
  }
}
.input-box.active {
  .input-1 {
    border: 2px solid #1a73e8;
  }
}
.btn {
  background: $btn-default-bg-color;
  color: $btn-default-text-color;
  cursor: pointer;
  border: none;
  white-space: normal;
  letter-spacing: 0.25px;
  font-weight: 400;
  font-size: 14px;
  padding: 13px;
  border-radius: 4px;
  line-height: 20px;
  min-width: 88px;
  transition: 250ms;
  width: 100%;
  margin-top: 1rem;

  &:hover {
    background: $btn-default-bgh-color;
    transition: 250ms;
  }
  &:focus {
    outline: none;
  }
}
.clear {
  clear: both;
}

::placeholder {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: -0.01em;
  color: #000000;
}

// modal

.modal {
  padding: 0rem 3rem 0;
  position: relative;
}

.dash_modal .q-dialog__backdrop {
  background: rgba(0, 43, 96, 0.9);
}
.modal_wrap {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  align-items: center;
  margin-bottom: 1rem;
}

.modal .right {
  padding-top: 0;
  // width: 90%;
}

.modal_main {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #000000;
  padding-top: 1rem;
}

.modal_main_text {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  white-space: nowrap;
  color: #000000;
}

.modal_sub_text {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  margin: 1.5rem 0;
  color: #000000;
}
.modal.two .modal_sub_text {
  margin: 0.1rem 0;
}

.modal ul li {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  color: #000000;
  margin: 0.6rem 0;
}
.modal ul li i {
  color: green;
  font-size: 1.2rem;
}

.modal .skip {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #1f7bb5;
  background: #ffffff;
  border: 2px solid #b0b0b0;
  border-radius: 5px;
  width: 103px;
  height: 46px;
}
.modal .proceed {
  background: #1f7bb5;
  border-radius: 5px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
  width: 199px;
  height: 33.73px;
}

.modal .close i {
  color: #b1b1b1;
  font-size: 1.5rem;
  position: absolute;
  top: 2%;
  right: 2%;
}

//preview
.previewMain {
  width: fit-content;
}
.previewDiv {
  position: relative;
}

.previewDiv .click {
  position: absolute;
  left: 30%;
  top: 27%;
}

.form {
  margin-top: 1rem;
  position: relative;
}
.form img.previewimg {
  width: 184px;
  height: 184px;
  border: 5px solid rgba(53, 113, 150, 0.26);
  border-radius: 104.5px;
}
.form img.click {
  width: 70px;
}

.previewinput {
  position: absolute;
  z-index: 5;
  width: 100%;
  height: 100%;
  background: transparent;
  opacity: 0;
}
.header_icons .le .q-btn img {
  width: 20px !important;
  height: 20px !important;
}

.sort_area {
  flex-wrap: wrap;
  gap: 1rem;
}

.sort_area .active {
  white-space: nowrap;
}

.sort_area .left::-webkit-scrollbar {
  display: none;
}

// seller phone_dailog
.contact_vendor {
  width: 362px;
  min-height: 283px;
  padding: 1rem;
  position: relative;
}

.phone_dailog {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.phone_dailog .contact_seller {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #000000;
}

.phone_dailog .vendorname {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  text-transform: capitalize;
  color: #000000;
}

.phone_dailog .call_ven {
  width: 100%;
  border-top: 2px solid rgba(195, 195, 195, 0.7);
  padding-top: 1rem;
}

.phone_dailog .q-btn {
  position: absolute;
  top: 1%;
  right: 1%;
}

.phone_dailog a {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
  background: #ee4e36;
  border-radius: 5px;
  display: inline-block;
  height: 39.89px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.phone_dailog img {
  width: 81px;
  height: 81px;
}

@media (max-width: 1100px) {
  .header_icons {
    gap: 0.5rem !important;
  }
  .header_icons {
    gap: 0.5rem !important;
  }

  .bar .input_wrap {
    width: 100%;
  }
}
@media (max-width: 1000px) {
  .bar {
    width: 100% !important;
    margin-right: 5rem;
  }
  .bar .input_wrap {
    width: 100% !important;
  }
}
@media (max-width: 1060px) {
  .listing .middle {
    gap: 1rem;
  }
  .listing .right .manage_ad {
    width: 106px;
    font-size: 12px;
  }
  .listing .right .modify {
    width: 90px;
    font-size: 11px;
  }

  .listing {
    gap: 1rem;
  }
  .listing .left {
    gap: 0.5rem;
  }

  .sort_area .left {
    flex-wrap: wrap;
    gap: 1rem !important;
  }
}
@media (max-width: 1040px) {
  .listing {
    display: flex;
    overflow-x: scroll;
    gap: 2rem;
  }
}
@media (max-width: 800px) {
  .header_icons .le {
    gap: 0 !important;
  }

  .login_wrapper {
    grid-template-columns: 1fr;
  }
  .login {
    padding: 1rem;
  }
  .left.side {
    display: none;
  }

  .modal .right img {
    display: none;
  }

  .modal_main {
    font-size: 25px;
  }
  .modal {
    padding: 0rem 1rem 0;
  }

  .modal_sub_text {
    font-size: 14px;
  }

  .modal_sub_text .q-btn {
    font-size: 11px;
    margin-top: 0.5rem;
  }
  .modal .close i {
    right: 4%;
  }

  .modal_wrap {
    gap: 0rem;
    padding: 2rem 0;
    grid-template-columns: 1fr;
  }

  .btn {
    margin-top: 0;
  }

  .sort_area .right {
    padding-top: 1rem;
  }
}
@media (max-width: 500px) {
  .modal .skip {
    width: auto;
  }
  .modal .proceed {
    width: auto;
  }

  .sort_area {
    gap: 0 !important;
  }

  .sort_area .left {
    flex-wrap: unset !important;
    overflow-x: scroll;
  }

  .modal_main_text {
    font-size: 20px;
  }
}
