.q-linear-progress {
  height: 1.5em;
  background: #354e8d;
}
input::placeholder {
  opacity: 0.5;
}

.top .title {
  display: flex;
  align-items: center;
}

.top .title img {
  width: 27px;
  height: 17px;
}

.empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 60vh;
  justify-content: center;
  gap: 1rem;
}

.empty img {
  width: 106px;
  height: 106px;
}

.empty_text {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 15px;
  text-align: center;
  color: #9a9a9a;
}

.main_text {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

$color: #80868b;
$active-color: #1a73e8;
$error-color: #f44336;
$input-value-color: #202124;
$border-color: 1px solid #dadce0;

$border-color-active: 2px solid $active-color;
$default-background: #fff;

/* Buttons */
$btn-default-bg-color: #fff;
$btn-default-bgh-color: #ddd;
$btn-default-text-color: #333;

$btn-primary-bg-color: #1a73e8;
$btn-primary-bgh-color: #287ae6;
$btn-primary-boxshadow-color: 0 1px 1px 0 rgba(66, 133, 244, 0.45),
  0 1px 3px 1px rgba(66, 133, 244, 0.3);
$btn-primary-text-color: #fff;
.login {
  // background: aliceblue;
  // height: 100vh;
  padding: 2rem 2rem 5rem;
}

@media (min-width: 1100px) {
  .login {
    height: 100vh;
  }
}
.login_hold {
  background: #ffffff;
  box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  max-width: 1000px;
  width: 909px;
  max-height: 631px;
  overflow: hidden;
  margin: 0 auto;
}

.img img {
  width: 100px;
}

.checks {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  margin: 1rem 0 1rem;
}

.checks .check {
  background: #ffffff;
  border: 1.5px solid #000000;
  border-radius: 6px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  padding: 0.4rem;
  line-height: 100%;
  letter-spacing: -0.01em;
  color: #000000;
}

.side_img {
  // max-width: 298px;
  max-height: 261px;
  margin-top: 1rem;
  object-fit: contain;
}

.checks .notactive {
  background: #ffffff;
  border: 1px solid #b0b0b0;
  border-radius: 6px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  padding: 0.4rem;
  line-height: 100%;
  letter-spacing: -0.01em;
  color: #000000;
}

.sign .head {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: -0.01em;
  color: #000000;
}

.sign .sub {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 100%;
  letter-spacing: -0.01em;
  color: #000000;
}

.login_wrapper {
  display: flex;
  // gap: 1rem;
  width: 909px;
  padding: 1rem;
  height: 100%;
}
input,
select {
  background: $default-background;
}

select {
  position: relative;
}

input:focus,
select:focus {
  outline: none;
}

.goggle_auth {
  margin-top: 1rem;
}

.goggle_auth .q-btn::before {
  box-shadow: none;
}

.goggle_auth img {
  width: 50%;
}

.left_wrap {
  background: linear-gradient(180deg, #002b60 0%, #357196 100%);
  border-radius: 7px;
  width: 376px;
  height: 100%;
  padding: 1rem 1.5rem;
}

.middle {
  padding-top: 6rem;
}

.main {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 100%;
  color: #ffffff;
  margin-bottom: 0.7rem;
}
.main span {
  white-space: nowrap;
}
.desc {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 129.5%;
  letter-spacing: -0.01em;
  color: #ffffff;
}

.foot {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  color: #ffffff;
}

.login_hold .right {
  padding: 2rem 2.25rem 1rem 3rem;
}

.input-box select {
  // position: absolute;
  border: none;
  // margin-left: 0.5rem;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: -0.01em;
  color: #000000;
  position: relative;
}
.input-box select.reg {
  // all: unset;
  position: unset;
  margin: 0;
}

.phone input {
  padding-left: 4.4rem !important;
}

.wraps {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 1rem;
}
#form {
  margin: 0 auto;
}
.input-box.active-grey {
  .input-1,
  select.reg {
    border: 1.5px solid #9d9d9d;
  }
  select.reg {
    width: 100%;
  }
  .input-label {
    color: $color;
    top: -8px;
    background: $default-background;
    font-size: 11px;
    z-index: 2;
    left: 1%;
    transition: 250ms;
  }
}

.wraps .input-box {
  margin: 0;
}
.input-box {
  position: relative;
  margin: 25px 0;
  .input-label {
    position: absolute;
    color: $color;
    font-size: 16px;
    font-weight: 400;
    max-width: calc(100% - (2 * 8px));
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    left: 8px;
    top: 13px;
    padding: 0 8px;
    transition: 250ms;
    user-select: none;
    pointer-events: none;
  }
  .input-1,
  select.reg {
    box-sizing: border-box;
    height: 50px;
    width: 100%;
    border-radius: 4px;
    color: $input-value-color;
    border: $border-color;
    padding: 13px 15px;

    transition: 250ms;
    &:focus {
      outline: none;
      border: 2px solid #1a73e8;
      transition: 250ms;
    }
  }
}
.input-box.error {
  .input-label {
    color: $error-color;
    top: -8px;
    background: $default-background;
    font-size: 11px;
    transition: 250ms;
  }
  .input-1 {
    border: 2px solid $error-color;
  }
}
.input-box.focus,
.input-box.active {
  .input-label {
    color: $active-color;
    top: -8px;
    background: $default-background;
    font-size: 11px;
    transition: 250ms;
  }
}
.input-box.active {
  .input-1 {
    border: 2px solid #1a73e8;
  }
}
.btn {
  background: $btn-default-bg-color;
  color: $btn-default-text-color;
  cursor: pointer;
  border: none;
  white-space: normal;
  letter-spacing: 0.25px;
  font-weight: 400;
  font-size: 14px;
  padding: 13px;
  border-radius: 4px;
  line-height: 20px;
  min-width: 88px;
  transition: 250ms;
  width: 100%;
  margin-top: 1rem;

  &:hover {
    background: $btn-default-bgh-color;
    transition: 250ms;
  }
  &:focus {
    outline: none;
  }
}
.clear {
  clear: both;
}

::placeholder {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: -0.01em;
  color: #000000;
}

// modal

.modal {
  padding: 0rem 3rem 0;
  position: relative;
}

.dash_modal .q-dialog__backdrop {
  background: rgba(0, 43, 96, 0.9);
}
.modal_wrap {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  align-items: center;
  margin-bottom: 1rem;
}

.modal .right {
  padding-top: 0;
  // width: 90%;
}

.modal_main {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #000000;
  padding-top: 1rem;
}

.modal_main_text {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  white-space: nowrap;
  color: #000000;
}

.modal_sub_text {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  margin: 1.5rem 0;
  color: #000000;
}
.modal.two .modal_sub_text {
  margin: 0.1rem 0;
}

.modal ul li {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  color: #000000;
  margin: 0.6rem 0;
}
.modal ul li i {
  color: green;
  font-size: 1.2rem;
}

.modal .skip {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #1f7bb5;
  background: #ffffff;
  border: 2px solid #b0b0b0;
  border-radius: 5px;
  width: 103px;
  height: 46px;
}
.modal .proceed {
  background: #1f7bb5;
  border-radius: 5px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
  width: 199px;
  height: 33.73px;
}

.modal .close i {
  color: #b1b1b1;
  font-size: 1.5rem;
  position: absolute;
  top: 2%;
  right: 2%;
}

//preview
.previewMain {
  width: fit-content;
}
.previewDiv {
  position: relative;
}

.previewDiv .click {
  position: absolute;
  left: 30%;
  top: 27%;
}

.form {
  margin-top: 1rem;
  position: relative;
}
.form img.previewimg {
  width: 184px;
  height: 184px;
  border: 5px solid rgba(53, 113, 150, 0.26);
  border-radius: 104.5px;
}
.form img.click {
  width: 70px;
}

.previewinput {
  position: absolute;
  z-index: 5;
  width: 100%;
  height: 100%;
  background: transparent;
  opacity: 0;
}
.header_icons .le .q-btn img {
  width: 20px !important;
  height: 20px !important;
}
.header_icons .le .q-btn img.ava {
  width: 40px !important;
  height: 40px !important;
  border-radius: 50%;
}

.sort_area {
  flex-wrap: wrap;
  gap: 1rem;
}

.sort_area .active {
  white-space: nowrap;
}

.sort_area .left::-webkit-scrollbar {
  display: none;
}

.sort_area .q-btn {
  text-transform: capitalize;
}

// seller phone_dailog
.contact_vendor {
  width: 362px;
  min-height: 283px;
  padding: 1rem;
  position: relative;
}

.phone_dailog {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.phone_dailog .contact_seller {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #000000;
}

.phone_dailog .vendorname {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  text-transform: capitalize;
  color: #000000;
}

.phone_dailog .call_ven {
  width: 100%;
  border-top: 2px solid rgba(195, 195, 195, 0.7);
  padding-top: 1rem;
}

.phone_dailog .q-btn.close {
  position: absolute;
  font-size: 15px;
  top: 1%;
  right: 1%;
}

.phone_dailog .call_ven a,
.phone_dailog .call_ven .q-btn {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
  background: #ee4e36;
  border-radius: 5px;
  display: inline-block;
  height: 39.89px;
  text-transform: capitalize;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0.5rem 0;
}

.phone_dailog .call_ven .q-btn {
  background: #1f7bb5;
}

.phone_dailog img {
  width: 81px;
  height: 81px;
}

.layout_footer {
  background: #ffffff;
  box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.25);
  // box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  height: 64px;
  padding: 1rem 0.3rem;
  bottom: -0.2% !important;
}

.layout_footer .footer_holder {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: space-between;
  margin: 0 1rem;
}

.layout_footer .footer_tag {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 11px;
  color: #9d9d9d;
}

.layout_footer .more {
  border: 1px solid #000000;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.layout_footer .q-btn,
.layout_footer .q-item {
  text-transform: capitalize;
  padding: 0;
}
.layout_footer .q-item.q-router-link--active {
  text-transform: capitalize;
  padding: 5px 8px;
  color: #fff;
}
.layout_footer .q-item.q-router-link--active .footer_tag {
  color: #fff;
}

.layout_footer img,
.layout_footer .q-item img {
  width: 25px;
  height: 25px;
  // width: 30px;
  // height: 30px;
}

.goggle_auth {
  padding-bottom: 1.5rem;
}

.name_row .q-avatar {
  box-shadow: none !important;
}

@media (min-width: 800px) {
  .layout_footer {
    display: none;
  }
}
@media (max-width: 1100px) {
  .header_icons {
    gap: 0.5rem !important;
  }
  .header_icons {
    gap: 0.5rem !important;
  }

  .bar .input_wrap {
    width: 100%;
  }
}
@media (max-width: 1000px) {
  .bar {
    width: 100% !important;
    // margin-right: 5rem;
  }
  .bar .input_wrap {
    width: 100% !important;
  }
}
@media (max-width: 1060px) {
  .listing .middle {
    gap: 1rem;
  }
  .listing .right .manage_ad {
    width: 106px;
    font-size: 12px;
  }
  .listing .right .modify {
    width: 90px;
    font-size: 11px;
  }

  .listing {
    gap: 1rem;
  }
  .listing .left {
    gap: 0.5rem;
  }

  .sort_area .left {
    flex-wrap: wrap;
    gap: 1rem !important;
  }
}
@media (max-width: 1040px) {
  .listing {
    display: flex;
    overflow-x: scroll;
    gap: 2rem;
  }
}
@media (max-width: 800px) {
  .header_icons .le {
    gap: 0 !important;
  }

  .login_wrapper {
    grid-template-columns: 1fr;
  }
  .login {
    padding: 1rem;
  }
  .left.side {
    display: none;
  }

  .modal .right img {
    display: none;
  }

  .modal_main {
    font-size: 25px;
    line-height: 1.32;
  }
  .modal {
    padding: 0rem 1rem 0;
  }

  .modal_sub_text {
    font-size: 14px;
  }

  .modal_sub_text .q-btn {
    font-size: 11px;
    margin-top: 0.5rem;
  }
  .modal .close i {
    right: 4%;
  }

  .modal_wrap {
    gap: 0rem;
    padding: 2rem 0;
    grid-template-columns: 1fr;
  }

  .btn {
    margin-top: 0;
  }

  .sort_area .right {
    padding-top: 1rem;
  }
}
@media (max-width: 700px) {
  .modal .skip {
    width: auto;
  }
  .modal .proceed {
    width: auto;
  }

  .sort_area {
    gap: 0.5rem !important;
  }

  .sort_area .left {
    flex-wrap: unset !important;
    overflow-x: scroll;
    padding-bottom: 0rem;
  }

  .sort_area .regular,
  .sort_area .active,
  .sort_area .right .sort_by_date {
    font-size: 12px !important;
  }
  .sort_area .regular {
    padding: 4px 8px;
  }

  .sort_area .right {
    padding-top: 0rem !important;
  }

  .sort_area .left {
    gap: 0.5rem !important;
  }

  .modal_main_text {
    font-size: 20px;
  }

  .wraps {
    grid-template-columns: 1fr !important;
    gap: 0 !important;
  }

  .name_row .name .name_last {
    font-size: 11px;
  }

  .name_row .q-avatar {
    font-size: 40px !important;
  }

  .input-box.active-grey .input-1,
  .input-box.active-grey select,
  .input-box.active-grey textarea {
    border: 1px solid #9d9d9d !important;
    height: 40px !important;
    padding: 9px 13px !important;
  }
  .input-box.active-grey .phone select {
    border: unset !important;
    height: unset !important;
    padding: unset !important;
  }

  .goggle_auth {
    padding-bottom: 0rem;
  }
  .input-box.active-grey .phone .input-1 {
    padding-left: 4.4rem !important;
  }
  .create_ad .text {
    margin: 1.5rem 0 !important;
  }

  .input-box.active-grey .input-label {
    font-size: 11px !important;
  }
  .create {
    padding-top: 0.5rem;
  }
  .wrapp .products {
    width: 100%;
    padding-top: 1rem;
  }

  .name_row .name .name_top {
    font-size: 12px;
  }

  .name_row .name .name_down {
    font-size: 12px;
  }

  .input-box {
    margin: 25px 0 0 !important;
  }

  .create_ad {
    padding: 1rem !important;
  }

  .login_wrapper {
    padding: 0rem !important;
  }

  .input-box.active-grey .input-1::placeholder {
    font-size: 12px;
  }

  .mybtn {
    display: none !important;
  }

  .logo img {
    width: 125px !important;
    height: 31px !important;
  }

  .header_icons .le .q-btn.avatar img {
    width: 40px !important;
    height: 40px !important;
  }

  .small_cards {
    grid-template-columns: 1fr 1fr 1fr !important;
    gap: 1.4rem 0.7rem !important;
    // gap: 2rem 0.7rem !important;
    padding-bottom: 1.5rem !important;
    // padding-bottom: 2rem !important;
    grid-template-areas:
      "long long long"
      "short1 short2 short3";
  }

  .card {
    min-width: 100% !important;
  }

  .listing .right .modify {
    width: 90px !important;
    font-size: 12px !important;
  }
  .listing .right .manage_ad {
    width: 126px !important;
    font-size: 13px !important;
  }

  .small_cards .small_card {
    width: 100% !important;
    padding: 0.7rem !important;
    border-radius: 5px !important;
  }

  .small_cards .small_card:nth-child(1) {
    grid-area: short1;
  }
  .small_cards .small_card:nth-child(2) {
    grid-area: short2;
  }
  .small_cards .small_card:nth-child(3) {
    grid-area: short3;
  }
  .small_cards .small_card_bus {
    grid-area: long;
  }
  .small_cards .small_card_bus {
    width: 100% !important;
    height: 100% !important;
    border-radius: 5px !important;
  }
  .right_card_top,
  .right_card_top.down {
    border-radius: 5px !important;
  }

  .main_card {
    padding: 0.9rem !important;
    // grid-template-columns: 1fr 1fr !important;
    border-radius: 5px !important;
    box-shadow: none;
    display: flex !important;
    max-width: 95vw !important;
  }
  .main_card .left {
    max-width: 38% !important;
  }
  .main_card .right img {
    width: 100% !important;
    height: 170px !important;
    object-fit: contain;
  }
  .main_text {
    font-size: 25px !important;
  }

  .sub {
    font-size: 13px !important;
  }

  .tour {
    height: 26px !important;
    font-size: 12px !important;
  }
}
@media (max-width: 500px) {
  .small_card .small_card_sub {
    font-size: 9px !important;
  }
  .small_card .small_card_main_text {
    font-size: 12px !important;
  }

  .main_card .right img {
    right: -15% !important;
    top: -12% !important;
  }

  .main_card .right img {
    height: 130px !important;
  }

  .empty_text {
    padding: 1.2rem;
  }
  // .header_icons {
  //   padding-right: 2rem;
  // }

  .main {
    overflow: hidden;
  }

  .left_main,
  .right_card {
    width: 95vw;
    margin: 0 auto;
  }

  // .main_card {
  //   max-width: 340px !important;
  // }
}
@media (max-width: 390px) {
  .main_card .left {
    max-width: 28% !important;
  }
  .main_card .right img {
    right: -15% !important;
  }
}
@media (max-width: 375px) {
  // .small_cards .small_card {
  //   width: 105px !important;
  // }

  .left_main {
    width: 93vw;
    margin: 0 auto;
  }

  .logo {
    margin-left: 0 !important;
    padding: 5px 2px !important;
  }

  .logo img {
    width: 110px !important;
  }

  // .main_card {
  //   max-width: 340px !important;
  // }
}
@media (max-width: 350px) {
  // .small_cards .small_card {
  //   width: 90px !important;
  // }

  // .left_main {
  //   width: 88vw;
  //   margin: 0 auto;
  // }
  .small_card .small_card_sub {
    font-size: 7px !important;
  }
  .small_card .small_card_main_text {
    font-size: 10px !important;
  }
}
