// app global css in SCSS form
@import "custom/resets";

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700;800&family=Lato:wght@300;400;700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,700&family=Open+Sans:wght@300;400;500;600;700&family=Plus+Jakarta+Sans:wght@300&family=PT+Serif:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: 3px; /* width of the entire scrollbar */
  height: 3px;
}

*::-webkit-scrollbar-track {
  background: #f4f4f4; /* color of the tracking area */
}

*::-webkit-scrollbar-thumb {
  background-color: #ee4e36; /* color of the scroll thumb */
  // border-radius: 20px; /* roundness of the scroll thumb */
  // border: 3px solid #33b27b; /* creates padding around scroll thumb */
}

body {
  font-family: "Inter", sans-serif;
  background: #e4e4e4;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

.container {
  width: 90%;
  max-width: 1440px;
  margin: 0 auto;
}

.head_text {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-transform: capitalize;
  color: #64737c;
  margin-bottom: 1rem;
}

// .q-drawer {
//   filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.25));
// }

.sort_area .right .q-btn__content {
  justify-content: space-between !important
  ;
}
.actn_btn .q-icon {
  font-size: 1rem !important;
}

th.text-left {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
}
th.text-center {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: #9a9a9a;
}
.sub_table th.text-right:last-of-type {
  color: rgba(31, 123, 181, 0.4);
}
th.text-right {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-align: right;
  color: #9a9a9a;
}
.page_ {
  background: #c2e6e9;
  padding: 2rem 0;
}
@media (min-width: 600px) {
  .create_ad {
    max-width: 882px !important;
    width: 882px !important;
    margin: 0rem auto 2rem;
    // height: 1022px;
  }
  .finshAd {
    background: #ffffff;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
    border-radius: 14px;
    width: 882px !important;
    margin: 0rem auto 2rem;

    max-width: 882px !important;
  }
}

.advert .q-editor {
  background: #ffffff;
  border: 1px solid #9d9d9d;
}

.advert .q-editor__toolbar {
  border-bottom: 1px solid #9d9d9d;
  min-height: 32px;
}

.sort .q-field__native {
  color: #ee4e36;
}

.q-drawer {
  position: fixed;
}

// .popular .splide__slide {
//   width: 132.62px !important;
//   height: 184px !important;
// }
.popular .splide__slide {
  width: 150px !important;
  height: 120px !important;
}

// .popular .splide__list {
//   gap: 2rem;
// }
.apexcharts-menu-item {
  padding: 6px 7px;
  font-size: 12px;
  cursor: pointer;
  white-space: nowrap !important;
  color: black !important;
}
.apexcharts-tooltip-title {
  color: #000 !important;
}

.apexcharts-tooltip-series-group {
  color: #000 !important;
}

.splide__arrow {
  background: #fff !important;
  width: 3em !important;
  height: 3em !important;
  opacity: 1 !important;
}
.q-item.q-router-link--active svg path {
  display: block;
  color: white;
  fill: #fff;
}

.sub_table {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
  border-radius: 14px;
}

.my_table {
  background: #ffffff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
}
.q-item.q-router-link--active svg path {
  fill: #fff;
  color: white;
}

.product .owner {
  display: flex;
  align-items: center;
}
.product .owner img {
  width: 17px;
  height: 16px !important;
}
.video_card {
  position: relative;
  width: 80%;
  padding-bottom: 26.25%;
  max-height: 400px;
  // padding-bottom: 56.25%;
}
.video_card video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.check .q-checkbox__bg {
  width: 24px;
  height: 23px;
  background: rgb(49, 228, 49);
  border: 1px solid #1f7bb5;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.check .q-checkbox__bg .q-checkbox__svg {
  width: 80% !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 80% !important;
}
.col_check .q-checkbox__bg {
  border: 1px solid #c9c9c9;
  border-radius: 5px;
}

// .col_check {
//   background: #EE4E36;
// border: 2px solid #EE4E36;
// border-radius: 4px;
// }

.splide__arrow--prev {
  left: 3%;
}
.splide__arrow--next {
  right: -3% !important;
}
// heads
.q-btn::before {
  box-shadow: none;
}
.recent_listing_head {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  color: #000000;
  margin-top: 2rem;
}
.recent_listing_head span {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-transform: capitalize;
  color: rgba(100, 115, 124, 0.6);
}

hr {
  border-style: unset;
  height: 0.5px;
}

p {
  margin-bottom: 5px;
}

.style .q-table .added .q-toggle__inner--truthy .q-toggle__thumb {
  left: 0.75em;
}
.style .q-table .added .q-toggle__thumb {
  top: 0.31em;
  left: 0.25em;
  width: 0.35em;
  height: 0.35em;
}
.style .q-table .added .q-toggle__track {
  height: 0.35em;
  border-radius: 0.175em;
  opacity: 0.38;
  background: #d9d9d9;
}

.responsive_autofit_grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
}

.category_items .q-item {
  // padding: 0 5px;
  white-space: nowrap;
}

.carou {
  padding: 0.5rem;
}

.carou .q-carousel__slide {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.carou .q-carousel__control.q-carousel__next-arrow--horizontal {
  right: 16px;
}
// .carou .q-carousel__control.q-carousel__prev-arrow--horizontal {
//   left: 16px;
// }

.carou .q-carousel__control .q-btn {
  background: black;
  color: white;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.42);
  border-radius: 13.5px;
  // transform: matrix(-1, 0, 0, 1, 0, 0);
}
.carou .q-carousel__control .q-btn::before {
  box-shadow: none;
}

.product_cards .product .owners {
  position: absolute;
  bottom: 1%;
  width: 95%;
}

.ratingBanner {
  width: 90% !important;
  margin: 0 auto;
  // height: 20vh;
}

.ratingBanner .q-field__label {
  font-size: 12px;
}
.ratingBanner .q-field__control {
  height: 50px;
}

.modal .q-field {
  background: rgba(233, 233, 233, 0.62);
  border: 1px solid #c9c9c9;
  border-radius: 10px;
}
.modal .q-field__native {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #000;
  // color: #969696;
}
.submit .q-btn .q-btn__content {
  justify-content: center;
}

.product_detail_wrap .q-carousel {
  height: 413px;
}
.product_detail_wrap .q-carousel .q-carousel__slide {
  border-radius: 10px;
}
.product_detail_wrap .q-carousel.q-panel-parent {
  overflow: unset;
  position: relative;
}

.product_detail_wrap .q-carousel .q-carousel__navigation--bottom {
  bottom: -45%;
}
.product_detail_wrap .q-carousel .q-carousel__thumbnail {
  width: 143px;
  height: 180px;
  overflow: hidden;
  list-style: none;
  margin: 0.5rem 0 0;
  cursor: pointer;
  object-fit: cover;
  opacity: 0.3;
}
.product_detail_wrap
  .q-carousel
  .q-carousel__thumbnail.q-carousel__thumbnail--active {
  opacity: 1;
}

.product_cards .product.shops {
  padding: 0 0 1rem !important;
}
.product_cards .product.shops .body_ {
  padding: 0.5rem 0.8rem 0.8rem;
  // margin-top: 0.4rem;
}
.product_cards .product.shops .location p {
  margin-bottom: 5px;
}
.product_cards .product.shops img {
  object-fit: cover;
  height: 200px;
}
.product_cards .product.shops .name p {
  margin-bottom: 7px;
}

.input-box .input-1,
.input-box select,
.input-box textarea {
  border-radius: 10px !important;
}
.input-box .input-label {
  left: 22px !important;
  padding: 0 8px 0 2px !important;
}

.product_detail_wrap .q-carousel__navigation--bottom {
  left: 0;
}

.product_detail_wrap .q-carousel__navigation-inner {
  justify-content: flex-start;
}
.product_cards .product {
  max-width: 340px;
}

.wrapp {
  max-width: 1440px;
}

.sub_header_wrap .subb {
  max-width: 150px;
}
.sub_header_wrap .q-field--standard .q-field__control:before {
  display: none;
}

.sub_header_wrap .all .q-btn-dropdown--simple * + .q-btn-dropdown__arrow {
  margin-left: 0px;
}
.sub_header_wrap .allCat .q-field__label {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  text-transform: capitalize;
  color: #000000 !important;
}
.sub_header_wrap .allCat .q-field__marginal {
  margin-left: -35%;
}

.sub_header_wrap
  .q-field--standard.q-field--highlighted
  .q-field__control:after {
  display: none;
}

.each_category .q-item {
  min-height: auto;
  padding: 8px 0;
}
.loader {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.q-card.q-dialog-plugin .q-btn {
  text-transform: capitalize;
  box-shadow: 0px 20px 60px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}
.q-card.q-dialog-plugin .q-btn:first-of-type {
  background: #cccccc !important;
  border-radius: 4px !important;
}
.q-card.q-dialog-plugin .q-btn:last-of-type {
  background: #ee4e36 !important;
  border-radius: 4px !important;
}
.q-card.q-dialog-plugin .q-btn::before {
  border-bottom: 0;
}

.input-box .q-editor {
  // border: 1px solid rgba(0, 0, 0, 0.12);
  border: 1px solid #9d9d9d !important;
  border-radius: 10px;
  background-color: #fff;
}

.avaicons .ava {
  width: 25px;
  height: 25px;
  object-fit: contain;
}
.avaicons .q-btn .q-icon {
  font-size: 1.2rem;
}

.splide__pagination {
  bottom: -1.5em !important;
}

.product_cards .splide__pagination {
  bottom: 0.5em !important;
}
.product_cards .splide__pagination__page {
  border-radius: 50%;
  height: 5px;
  width: 5px;
}

.splide__pagination__page.is-active {
  background: #ee4e36 !important;
}

@media (min-width: 870px) {
  .non_header {
    display: none;
  }
}
@media (max-width: 500px) {
  .head_text {
    font-size: 20px;
  }
  .avaicons .ava {
    width: 20px;
    height: 20px;
  }
  .avaicons .q-btn .q-icon {
    font-size: 0.8rem;
    font-weight: 300;
    margin-top: 0.3rem;
  }

  // .popular .splide__slide {
  //   width: 130.62px !important;
  //   height: 134px !important;
  // }
  .popular img {
    width: 80px;
    cursor: pointer;
  }

  .product_cards .product {
    max-width: 100%;
  }

  .product_detail_wrap .q-carousel {
    height: 313px;
  }

  .product_detail_wrap .q-carousel .q-carousel__thumbnail {
    height: 130px;
  }
}
@media (max-width: 500px) {
  .product_detail_wrap .q-carousel {
    height: 250px;
  }
  .popular .splide__list {
    gap: 0rem;
  }

  .video_card {
    // padding-bottom: 76.25%;
    height: 300px;
  }

  .recent_listing_head {
    font-size: 16px;
    margin-top: 0.1rem;
  }

  .recent_listing_head span {
    font-size: 10px;
  }

  .product_detail_wrap .q-carousel .q-carousel__thumbnail {
    height: 130px;
  }

  .q-dialog__inner--minimized > div {
    width: 100%;
  }

  .product_detail_wrap .q-carousel .q-carousel__navigation--bottom {
    bottom: -60%;
  }
  .headermenu.q-menu img {
    width: 40px !important;
    height: 40px !important;
  }

  .headermenu.q-menu .text-subtitle1 {
    font-size: 0.7rem;
    margin-top: 0;
  }

  .headermenu.q-menu > div {
    padding: 0.5rem;
  }

  .q-menu .q-btn {
    font-size: 0.6rem;
  }

  .q-menu.menu_footer img {
    width: 20px !important;
    height: 20px !important;
  }
}
@media (max-width: 400px) {
  .product_detail_wrap .q-carousel {
    height: 230px;
  }

  .product_detail_wrap .q-carousel .q-carousel__thumbnail {
    height: 100px;
    width: 100px;
  }

  .product_detail_wrap .q-carousel .q-carousel__navigation--bottom {
    bottom: -50%;
  }
}
